input,
textarea {
  font-family: "franklin-gothic-urw-1",
               "franklin-gothic-urw-2",
               "Franklin Gothic",
               "Franklin Gothic LT",
               "Franklin Gothic LT Com",
               "Franklin Gothic BT",
               "Helvetica Neue",
               Helvetica,
               Arial,
               sans-serif;
  width: 100%;
  max-width: 100%;
  height: 30px;
  margin: 3px 0 9px;
  float: left;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  float: left;
  border: none;
  border-radius: 3px;
  padding: 4px 8px 6px;
  margin-right: 9px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
  -webkit-transition: box-shadow .3s;
          transition: box-shadow .3s;
}

textarea {
  min-height: 220px;
  padding: 8px;
}

input[type="email"],
input[type="text"] {
  padding: 4px 8px 4px;
}

textarea:focus,
input[type="email"]:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 1px lighten(red, 20%);
}

textarea:focus {

}

input[type="submit"] {
  height: 28px;
  width: auto;
  padding-bottom: 4px;
  color: white;
  border-radius: 3px;
  margin-top: 12px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: white;
  background-color: lighten(red, 15%);
  cursor: pointer;
  box-shadow: 0 0 0 1px lighten(red, 12%);
  -webkit-transition: background-color .6s;
     -moz-transition: background-color .6s;
       -o-transition: background-color .6s;
          transition: background-color .6s;
  + a {
    margin: 17px 18px 9px;
  }
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: lighten(red, 12%);
}

input[type="submit"]:focus {
  box-shadow: 0 0 0 1px lighten(red, 12%),
              0 1px 1px rgba(0,0,0,0.15),
              0 2px 2px rgba(0,0,0,0.25);
}

@media only screen and (max-width: 440px) {
  input[type="email"],
  input[type="text"] {
    width: 100%;
  }
}
