.request-form {
  display: none;
  position: fixed;
  top: 88px;
  left: 50%;
  z-index: 20;
  background-color: white;
  width: 400px;
  margin-left: -200px;
  // box-shadow: 0 0 2px rgba(0,0,0,0.33);
  border-radius: 5px;
  padding: 24px 20px 16px;
  -webkit-animation-name:bounce-in-up;
          animation-name:bounce-in-up;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  h3 {
    margin-left: 7px;
  }
}

.modal-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 19;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.66);
}
