.request-form {
  display: none;
  position: fixed;
  top: 88px;
  left: 50%;
  z-index: 20;
  background-color: white;
  width: 400px;
  margin-left: -200px;
  border-radius: 5px;
  padding: 24px 20px 16px;
  -webkit-animation-name:bounce-in-up-large;
          animation-name:bounce-in-up-large;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-funciton: ease-in-out;
          animation-timing-funciton: ease-in-out;
  &.dismissed {
    -webkit-animation-name:bounce-out-up-large;
            animation-name:bounce-out-up-large;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-funciton: ease-in-out;
            animation-timing-funciton: ease-in-out;

  }
}

.request-form-confirmation {
  display: none;
  text-align: center;
  position: fixed;
  bottom: 45px;
  left: 50%;
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 0;
  border-radius: 5px;
  background-color: rgba(50,175,0,0.95);
  z-index: 20;
  width: 200px;
  margin: 10px 0 0 -100px;
  -webkit-animation-name:bounce-in-up;
          animation-name:bounce-in-up;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.modal-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 19;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.66);
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}
