.sidebar {
  display: none;
  position: fixed;
  top: 160px;
  left: 50%;
  margin-top: 11px;
  margin-left: 300px;
  z-index: 10;
  -webkit-animation-name:bounce-in-down;
          animation-name:bounce-in-down;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-funciton: ease-in-out;
          animation-timing-funciton: ease-in-out;
  a {
    margin-bottom: 7px;
  }
}

.request-clear-button {
  border-bottom: none;
  color: darken(white, 50%);
}
