<!doctype html>
<html>
  <head>
    <title><%= current_page.data.title || "Nuno Coelho Santos" %></title>
    <!-- Technical Formating Meta Tags -->
    <meta http-equiv="content-type"     content="charset=utf-8">
    <meta http-equiv="content-language" content="en-gb">
    <meta http-equiv="expires"          content="Wed, 31 Dec 2014 12:00:00 GMT">
    <!-- Authoring Meta Tags -->
    <meta name="author"    content="Nuno Coelho Santos">
    <meta name="publisher" content="Nuno Coelho Santos">
    <meta name="copyright" content="2014 by Nuno Coelho Santos">
    <meta name="host"      content="nunocoelhosantos.com">
    <meta name="generator" content="Sublime Text 3">
    <!-- Search Eengine and Browser Meta Tags -->
    <meta name="description"   content="Nuno Coelho Santos's Availability Calendar">
    <meta name="keywords"      content="nuno, coelho, santos, calendar, availability">
    <meta name="revisit-after" content="14 days">
    <meta name="rating"        content="General">
    <meta http-equiv="x-ua-compatible" content="ie=8; chrome=1">
    <!-- Favicon Meta Tags (use both) -->
    <link rel="icon"          href="http://nunocoelhosantos.com/graphics/favicon.png">
    <link rel="shortcut icon" href="http://nunocoelhosantos.com/graphics/favicon.png">
    <!-- Typekit -->
    <script src="http://use.typekit.com/qxu7res.js"></script>
    <script>try{Typekit.load();}catch(e){};</script>
    <!-- Stylesheets -->
    <%= stylesheet_link_tag "all" %>
  </head>

  <body>
    <%= yield %>
  </body>

  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <%= javascript_include_tag  "all" %>

</html>
