---
title: Nuno Coelho Santos • Availability Calendar
---

<header>
  <h1>
    Nuno Coelho Santos<br>
    <em>Availability Calendar</em>
  </h1>
  <p>
    Please use this page to view the days I am available for hire and request
    any number of days you would be interested in having me to work with you.
  </p>
  <!--<p>
    I am currently not available for hire. If you are interested in my work and
    would like to meet me, please do send an email to
    <a href="mailto:nuno@nunocoelhosantos.com?subject=Just%20saying%20hi&body=Dear%20Nuno,%0D%0A%0D%0A">nuno@nunocoelhosantos.com</a>.
  </p>
  <p>
    <a href="/">Portfolio</a><br>
    <a href="/profile">Profile</a>
  </p>-->
</header>

<div class="calendar">
  <!-- To be populated with JavaScript -->
</div>

<div class="sidebar">
  <a class="request-button">Request</a><br>
  <a class="request-clear-button">Clear all</a>
</div>

<div class="request-form">
  <h3>Hi, how can I help you? 😊</h3><br>
  <label>Short intro:</label>
  <textarea class="request-form-message" placeholder="Hey Nuno! Can you help me out with... "></textarea><br>
  <label>Your Email Address:</label>
  <input class="request-form-email" type="email" placeholder="john@example.com"><br>
  <input class="request-form-submit" type="submit" value="Send Request">
  <a class="close">Cancel</a>
</div>

<div class="request-form-confirmation">
  <p>Request sent</p>
</div>

<div class="modal-overlay"></div>
