---
title: Nuno Coelho Santos • Availability Calendar
---

<header>
  <h1>
    Nuno Coelho Santos<br>
    <em>Availability Calendar</em>
  </h1>
  <p>
    Please use this page to view the days I am available for hire and request
    any number of days you would be interested in having me to work with you.
  </p>
</header>

<div class="calendar">
  <!-- To be populated with JavaScript -->
</div>

<div class="sidebar">
  <a class="request-button">Request</a><br>
  <a class="request-clear-button">Clear all</a>
</div>

<div class="request-form">
  <h3>One more thing:</h3><br>
  <p>Please enter your email below so I can get back to you.</p>
  <input class="request-form-email" type="email" placeholder="john@example.com"><br>
  <input class="request-form-submit" type="submit" value="Send Request">
  <a class="close">Cancel</a>
</div>

<div class="request-form-confirmation">
  <p>Request sent</p>
</div>

<div class="modal-overlay"></div>
