---
title: Welcome to Middleman
---

<a class="request-button">Request</a>

<div class="request-form">
  <b>How may I help?</b><br>
  <textarea placeholder="Hi Nuno! Can you help me... "></textarea><br>
  <input type="email" placeholder="Email Address"><br>
  <input type="submit">
  <a class="close">Cancel</a>
</div>
