---
title: Nuno Coelho Santos • Availability Calendar
---

<header>
  <h1>
    Nuno Coelho Santos<br>
    <em>Availability Calendar</em>
  </h1>
  <p>
    Please use this page to view the days I am available for hire and request
    any number of days you would be interested in having me to work with you.
  </p>
</header>

<div class="calendar">
  <!-- To be populated with JavaScript -->
</div>

<div class="sidebar">
  <a class="request-button">Request</a><br>
  <a class="request-clear-button">Clear all</a>
</div>

<div class="request-form">
  <h3>Hi, how can I help you? 😊</h3><br>
  <label>Short intro:</label>
  <textarea placeholder="Hey Nuno! Can you help me out with... "></textarea><br>
  <label>Your Email Address:</label>
  <input type="email" placeholder="john@example.com"><br>
  <input type="submit" value="Send Request">
  <a class="close">Cancel</a>
</div>

<div class="modal-overlay"></div>
